In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Nurse Blum\Instacart Basket Analysis'
path

'C:\\Users\\Nurse Blum\\Instacart Basket Analysis'

In [3]:
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [4]:
df_ords_prods_merged.shape

(30328763, 17)

In [4]:
# create a subset
df = df_ords_prods_merged [:1000000]

In [5]:
# 1. Complete the instructions 
df.shape

(1000000, 17)

In [7]:
# Define a function
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [8]:
# Apply the function
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Nurse Blum\AppData\Local\Temp\ipykernel_19188\902492192.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [9]:
df['price_range'].value_counts(dropna = False)

Mid-range product    631969
Low-range product    368031
Name: price_range, dtype: int64

In [10]:
df['prices'].max()

14.0

In [11]:
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [12]:
df_ords_prods_merged.loc[(df_ords_prods_merged['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [13]:
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [15]:
df_ords_prods_merged['price_range_loc'].value_counts(dropna = False)

NaN                   19830175
Low-range product      9476774
Mid-range product       631969
High-range product      389845
Name: price_range_loc, dtype: int64

In [19]:
df_ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

0    5779087
1    5303718
6    4190948
5    3952326
2    3947564
3    3600589
4    3554531
Name: orders_day_of_week, dtype: int64

In [47]:
result = []

for value in df_ords_prods_merged['orders_day_of_week']:
    if value == 0:
        result.append("Busiest day")
    elif value == 4:
        result.append("Least busy")
    else:
        result.append("Regular busy")
df_ords_prods_merged ['Busiest days'] = result
df_ords_prods_merged ['Busiest days'].value_counts(dropna = False)

Regular busy    20995145
Busiest day      5779087
Least busy       3554531
Name: Busiest days, dtype: int64

In [42]:
# 2. Correspond "Busiest days" with the two busiest days and "slowest days" with the two least busiest days
result = []

for value in df_ords_prods_merged['orders_day_of_week']:
    if value <= 1:
        result.append("Busiest days")
    elif value == 3:
        result.append("Slowest days")
    elif value == 4:
        result.append("Slowest days")
    else:
        result.append("Regular busy")
df_ords_prods_merged ['Busiest days'] = result
df_ords_prods_merged ['Busiest days'].value_counts(dropna = False)

Regular busy    12090838
Busiest days    11082805
Slowest days     7155120
Name: Busiest days, dtype: int64

In [45]:
# 3. Check for accuracy
df_busiest_days = df_ords_prods_merged[['Busiest days', 'orders_day_of_week']]
df_busiest_days.head()

   Busiest days  orders_day_of_week
0  Slowest days                   3
1  Slowest days                   3
2  Slowest days                   4
3  Slowest days                   4
4  Regular busy                   2

In [46]:
# 4. Busiest period of the day
df_ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2593725
11    2564597
14    2517238
15    2487586
13    2487500
12    2445841
16    2364969
9     2311334
17    1943858
8     1622394
18    1520954
19    1169224
20     910005
7      844665
21     746254
22     592432
23     375889
6      274801
0      203460
1      108110
5       82706
2       63961
4       49400
3       47860
Name: order_hour_of_day, dtype: int64

In [52]:
# 5 print frequency
result = []

for value in df_ords_prods_merged['order_hour_of_day']:
    if value == 10:
        result.append("Most orders")
    elif value == 11:
        result.append("Most orders")
    elif value == 20:
        result.append("Average orders")
    elif value == 7:
        result.append("Average orders")
    elif value == 4:
        result.append("Fewest orders")
    elif value == 3:
        result.append("Fewest orders")
    else:
        result.append("Average orders")
df_ords_prods_merged ['Most Orders'] = result
df_ords_prods_merged ['Most Orders'].value_counts(dropna = False)

Average orders    25073181
Most orders        5158322
Fewest orders        97260
Name: Most Orders, dtype: int64

In [53]:
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_new_var.pkl'))